

.float-button {
	position: fixed;
	bottom:40px;
	right:40px;
	width:60px;
	height:60px;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
	z-index: 999;
	justify-items: center;
	line-height: 60px;
  text-align: center;
}

.float-item {
	display: inline-block;
  vertical-align: middle;
  line-height: normal;
	font-size:25px;
	width:30px;
	height:30px;
}

#float-button ul{
	position:fixed;
	right:40px;
	padding-bottom:20px;
	bottom:80px;
	z-index:100;
}

#float-button ul li{
	list-style:none;
	margin-bottom:10px;
}

#float-button ul li a{
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
	width:60px;
	height:60px;
	display:block;
	z-index: 999;
	justify-items: center;
	line-height: 60px;
  text-align: center;
}

#float-button ul:hover{
	visibility:visible!important;
	opacity:1!important;
}

#float-button a#menu-share + ul{
  visibility: hidden;
}

#float-button a#menu-share:hover + ul{
  visibility: visible;
  animation: scale-in 0.5s;
}

#float-button a#menu-share i{
	animation: rotate-in 0.5s;
}

#float-button a#menu-share:hover > i{
	animation: rotate-out 0.5s;
}

@keyframes bot-to-top {
    0%   {bottom:-100px}
    50%  {bottom:40px}
}

@keyframes scale-in {
    from {transform: scale(0);opacity: 0;}
    to {transform: scale(1);opacity: 1;}
}

@keyframes rotate-in {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes rotate-out {
    from {transform: rotate(360deg);}
    to {transform: rotate(0deg);}
}